body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2d2d2d;
  flex-direction: column;
}
#gameCanvas {
  border: 2px solid #000;
  display: none;
}
#opponentCanvas {
  border: 2px solid #000;
  display: none;
}
.button-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.hide {
  display: none !important;
}

#progressBarContainer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
#progressBar {
  width: 100%;
  height: 70px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}
.form-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-container {
  margin-bottom: 20px;
}
.chat-container {
  width: 400px;
  max-width: 100%;
  max-height: 45%;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
}

.chat-header {
  background-color: #007bff81;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}
.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.message.user {
  background-color: #007bff7e;
  color: #fff;
  align-self: flex-end;
  white-space: normal;
}
.message.enemy {
  background-color: #e0e0e081;
  color: #000;
  align-self: flex-start;
  white-space: normal;
}
.chat-input {
  display: flex;
  border-top: 1px solid #cccccc7a;
}
.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}
.chat-input button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff81;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.chat-input button:hover {
  background-color: #0057b380;
}

/* #modalOpenButton, */
#modalCloseButton {
  cursor: pointer;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.5);
}

#modalContent {
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  height: 150px;
  padding: 15px;
}

#modalContainer.hidden {
  display: none;
}

#matchButton.hidden {
  display: none;
}

#registerButton.hidden {
  display: none;
}

#loginButton.hidden {
  display: none;
}
